/* Code for the whole website */

:root {
  --main-text-color: #56c9aa;
  --main-bg-color: #14171d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
}

body{
  overflow-x: hidden;
}

/* Navigation Bar */

/* Logo in the navBar */
#logo {
  display: inline-block;
  text-decoration: none;
  color: rgb(86,201,170);
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
}

#logo span {
  color: white;
}

/* navBar and its positioning */
/* #nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  font-family: sans-serif;
  z-index: 1;   /* Keeping it a layer above the site content */
  /* position: fixed;    /* letting it stay where it is even when scrolling */
  /* top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 10px 10000px rgba(235, 235, 235, 0.2);    /* making it a little more obvious when scrolling */
  /* background: rgb(20, 23, 29);
} */

.topnav {
  overflow: hidden;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #14171d;
}

.topnav a {
  float: left;
  display: inline;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
}

.topnav a.active {
  display: inline-block;
  text-decoration: none;
  color: rgb(86,201,170);
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* links in the navBar */
#nav-objects {
  display: flex;
  list-style: none;
}

#nav-objects a {
  transition: all 0.3s ease 0s;
  color: #56c9aa;
}

#nav-objects a:hover {
  color: #2b6455;
}

.nav-object {
  display: inline-block;
  padding: 0 2vw;
  margin: 0 0.5vw;
  text-decoration: none;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden; 
  background-blend-mode: #14171d ;
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
}

/* underline transition for the middle links */
.nav-object:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #56c9aa;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.nav-object:hover:before, .nav-object:focus:before, .nav-object:active:before {
  right: 0;
  left: 0;
}

#day-mode {
  background: #14171d;
}

/* properties for the contact button */
#login-button {
  border-radius: 100px;   /* for a rounder button */
  padding: 6px 20px;
  background-color: #56c9aa;
  transition: all 0.3s ease 0s;
  color: #14171d;
  box-shadow: 0 0 0 0 rgba(86,201,170,0.7);
  border: 1px solid #39b392;
}

#login-button:hover {
  background-color: #2b6455;
  border: 1px solid #2b6455;
  cursor: pointer;
}

/* End Navigation Bar */

/* Hero Section */

/* hero section and its positioning */
#hero {
  margin-top: 0px;
  padding: 247px 10%;
  background: #14171d;
  font-family: 'Oswald', sans-serif;
}

/* Parsa phrase and its positioning */
#hero #parsa {
  margin-bottom: 20px;
}

/* link to my resume */
#hero a {
  border: 2px solid #56c9aa;
  padding: 10px;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #56c9aa;
}

#hero a:hover {
  background: #2b6455;
  color: #ffffe3;
  border: 2px solid white;
}

/* the animation for the words in the hero section */
#hero span {
  color: rgb(86,201,170);
  font-size: 1.5em;
  transition: all 0.5s ease-out 0s;
}

#hero span:hover, #hero span:focus, #hero span:active {
  color: #2b6455;
  font-size: 1.7em;
}

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.bob:hover, .bob:focus, .bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* End Hero Section */

/* About me Section */

/* about me section and its positioning */
#about-me {
  display: flex;
  flex-direction: column;
  background: #14171d;
  padding: 5% 15%;
  font-family: sans-serif;
  margin-top: -5.6%;
}

/* the header of the about me section */
#aboutme-topic {
  text-align: center;
  font-size: 2.5rem;
  padding: 2%;
  line-height: 1.6em;
  color: #fffafa;   /* snow */
  font-family: 'Oswald', sans-serif;
}

/* the line under the header */
#about-me hr {
  background: #56c9aa;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #56c9aa;
  margin-top: -2%;
  margin-bottom: 2%;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  transition: all 0.3s ease 0s;
  border: #2b6455;
}

#about-me hr:hover {
  background: #2b6455;
  border: #2b6455;
}

/* text describing me */
#about-me p {
  text-align: center;
  word-spacing: 0.2em;
  height: 100%;
  width: 100%;
  line-height: 1.6em;
  font-size: 1.3rem;
  color: #fffafa; 
  font-family: 'Roboto', sans-serif;
}

/* the social media links and thier positioning */
#socialmedia-links {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  width: 100%;
}

/* Responsiveness for screens smaller than 500px */
@media (max-width: 500px) {
  #about-me p{
    text-align: left;
    font-size: 0.85rem;
  }
  #socialmedia-links{
    justify-content: left;
    width: 105%;
  }
  #aboutme-topic{
    font-size: 2rem;
  }
}

/* End About me Section*/

/* Services Section */

/* services section and its positioning */
#services {
display: flex;
flex-direction: column;
background: #14171d;
padding: 5% 15%;
font-family: sans-serif;
margin-top: -5.6%;
padding-top: 247px;
width: 100%;
}

/* the header of the services section */
#services-header #services-topic {
text-align: center;
font-size: 2.5rem;
padding: 2%;
line-height: 1.6em;
color: #fffafa;
font-family: 'Oswald', sans-serif;
}

/* the line under the services header */
#services-header hr {
background: #56c9aa;
padding-top: 5px;
padding-bottom: 5px;
border: 1px solid #56c9aa;
margin-top: -2%;
margin-bottom: 2%;
width: 100%;
padding-left: 20%;
padding-right: 20%;
transition: all 0.3s ease 0s;
border: #2b6455;
}

/* all 4 of the services container */
#services-body {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
color: white;
margin-bottom: -10%;
}

/* each one of the services */
.services-object {
display: flex;
flex-direction: row;
width: 40%;
margin-bottom: 5%;
justify-content: space-between;
}

/* the description of each service */
#services-body .services-object .services-desc {
width: 150%;
text-align: center;
word-spacing: 0.2em;
height: 100%;
line-height: 1.6em;
font-size: 1.3em;
color: #fffafa; 
}

/* the icon of each service */
#services-body .services-object .services-icon {
margin-right: 11%;
margin-left: -5%;
}

/* the header of the each service description */
#services-body .services-object .services-desc h1 {
text-transform: uppercase;
font-size: 1.5rem;
width: max-content;
font-family: 'Oswald', sans-serif;
}

/* the text explaining each service */
#services-body .services-object .services-desc p {
display: flex;
flex-direction: column;
text-align: left;
order: 2;
word-spacing: 0.2em;
height: 100%;
width: 100%;
line-height: 1.6em;
font-size: 1.3rem;
color: #fffafa; 
font-family: 'Roboto', sans-serif;
}

/* Responsiveness for screens smaller than 1070px */
@media (max-width: 1070px) {
  #services-body{
    flex-direction: column;
  }
  #services-body .services-object .services-desc p{
    width: 200%;
  }
}

/* Responsiveness for screens smaller than 850px */
@media (max-width: 850px) {
  #services-body{
    flex-direction: column;
  }
  #services-body .services-object .services-desc p{
    width: 100%;
  }
}

/* Responsiveness for screens smaller than 500px */
@media (max-width: 500px) {
  #services-body{
    flex-direction: column;
  }
  #services-body .services-object .services-desc h1{
    font-size: 0.95rem;
  }
  #services-body .services-object .services-desc p{
    width: 100%;
    font-size: 0.85rem;
  }
  #services-header #services-topic{
    font-size: 2rem;
  }
}

/* End Services Section */

/* Project Section*/

/* the project section and its positioning */
#projects {
  color: white;
  background: #14171d;
  font-family: sans-serif;
  padding: 247px 15%;
  display: flex;
  flex-direction: column; 
}

/* the header of the project section */
#project-topic {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.6em;
  margin-bottom: -1%;
  color: #fffafa;   /* snow */
  font-family: 'Oswald', sans-serif;
}

/* the line under the header of the project section */
#projects hr {
background: #56c9aa;
padding-top: 5px;
padding-bottom: 5px;
border: 1px solid #56c9aa;
margin-top: 1%;
margin-bottom: 2%;
width: 100%;
padding-left: 20%;
padding-right: 20%;
transition: all 0.3s ease 0s;
border: #2b6455;
}

#projects hr:hover {
background: #2b6455;
border: #2b6455;
}

/* all of the 4 projects container */
.project {
text-align: center;
display: flex;
flex-wrap: wrap;
}

/* each one of the projects */
.project .project-container {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-bottom: 7.5%;
width: 100%;
height: 100%;
}

/* the icon of each project section */
.project .project-container .project-image {
display: flex;
flex-direction: row;
justify-content: stretch;
align-items: center;
order: 1;
padding-right: 40px;
margin-bottom: 20px;
}

/* the header of each project container */
.project .project-container h1 {
text-transform: uppercase;
font-size: 1.5rem;
width: 100%;
font-family: 'Oswald', sans-serif;
}

/* the text explaining each project */
.project .project-container .project-desc {
padding: 0% 0%;
display: flex;
flex-direction: column;
height: 50%;
width: 80%;
text-align: left;
order: 2;
word-spacing: 0.2em;
line-height: 1.6em;
font-size: 1.3rem;
color: #fffafa;
font-family: 'Roboto', sans-serif; 
}

/* Responsiveness for screens smaller than 500px */
@media (max-width: 500px) {
  .project .project-container h1{
    font-size: 0.95rem;
  }
  .project .project-container .project-desc{
    font-size: 0.85rem;
  }
  #services-header #services-topic{
    font-size: 2rem;
  }
}

/* End Project Section */

/* Contact Me Section */

/* the whole contact section and its positioning */
#contact {
  display: flex;
  flex-direction: column;
  background: #14171d;
  padding: 5% 15%;
  font-family: 'Roboto', sans-serif;
  margin-top: -5.6%;
  padding-bottom: 247px;
}

/* the header of the contact section */
#contact-header #contact-topic {
  text-align: center;
  font-size: 2.5rem;
  padding: 2%;
  line-height: 1.6em;
  color: #fffafa;   /* snow */
  font-family: 'Oswald', sans-serif;
}

/* the line under the contact section header */
#contact-header hr {
  background: #56c9aa;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #56c9aa;
  margin-top: -2%;
  margin-bottom: 2%;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  transition: all 0.3s ease 0s;
  border: #2b6455;
}

#contact-header hr:hover {
  background: #2b6455;
  border: #2b6455;
}

/* the information part of the contact section */
#contact #contact-body {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
}

/* the personal qustions of the contact section as a whole container */
#contact #contact-body #contact-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0% 3%;
}

/* the subject and message of the container */
#contact #contact-body #contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact #contact-body #contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact ::placeholder {
  color: white;
}

/* first name, last name, and email of the user */
#contact #contact-body #contact-info .contact-item input[type="text"] {
  background: rgba(30, 35, 44);
  border: 2px solid #56c9aa;
  color: white;
  width: 30vw;
  padding: 10px;
  padding-left: 14px;
  margin-bottom: 25px;
  opacity: 0.6;
  transition: all 0.1s ease 0s;
  cursor: pointer;
  color: white;
  font-family: 'Roboto', sans-serif;
}

#contact #contact-body #contact-info .contact-item input[type="text"]:hover {
  opacity: 1;
  background: rgba(20, 23, 29, 1);
}

/* user's country */
#contact #contact-body #contact-info .contact-item select {
  background: rgba(30, 35, 44);
  border: 2px solid #56c9aa;
  color: white;
  width: 30vw;
  padding: 10px;
  opacity: 0.6;
  transition: all 0.1s ease 0s;
  font-family: 'Roboto', sans-serif;
}

#contact #contact-body #contact-info .contact-item select:hover {
  opacity: 1;
  background: rgba(20, 23, 29, 1);
}

/* subject of their message */
#contact #contact-body #contact-subject input[type="text"] {
  background: rgba(30, 35, 44);
  border: 2px solid #56c9aa;
  color: white;
  width: 61.8vw;
  padding: 10px;
  padding-left: 14px;
  opacity: 0.6;
  transition: all 0.1s ease 0s;
  font-family: 'Roboto', sans-serif;
}

#contact #contact-body #contact-subject input[type="text"]:hover {
  opacity: 1;
  background: rgba(20, 23, 29, 1);
}

/* user's message */
#contact #contact-body #contact-desc input[type="text"] {
  background: rgba(30, 35, 44);
  border: 2px solid #56c9aa;
  color: white;
  opacity: 0.6;
  width: 61.8vw;
  padding: 25px 10px;
  padding-left: 14px;
  margin: 25px 0px;
  transition: all 0.1s ease 0s;
  font-family: 'Roboto', sans-serif;
}

#contact #contact-body #contact-desc input[type="text"]:hover {
  opacity: 1;
  background: rgba(20, 23, 29, 1);
}

/* the submit button */
#contact #contact-body #contact-submit input[type="submit"] {
  background: rgba(30, 35, 44);
  border: 2px solid #56c9aa;
  color: #56c9aa;
  margin-left: 3.1vw;
  padding: 10px 14px;
  margin-left: 6%;
  transition: all 0.3s ease 0s;
  font-family: 'Roboto', sans-serif;
}

#contact #contact-body #contact-submit input[type="submit"]:hover {
  background: #2b6455;
  color: #ffffe3;
  border: 2px solid white;
}

/* Responsiveness for screens smaller than 500px */
@media (max-width: 500px) {
  #contact-header #contact-topic{
    font-size: 2rem;
  }
}

/* End Contact Section */

/* Footer Section */

/* footer and its positioning */
#footer {
  display: flex;
  flex-direction: column;
  background: #14171d;
  padding: 5% 15%;
  font-family: sans-serif;
  margin-top: -5.6%;
  align-items: center;
}
 
/* everything in the footer but the copyright */
#footer #footer-info {
  text-align: center;
}

/* the logo of the website */
#footer a {
  display: inline-block;
  text-decoration: none;
  color: rgb(86,201,170);
  font-size: 48px;
  font-family: sans-serif;
  padding-bottom: 20px;
  font-family: 'Oswald', sans-serif;
}

#footer span {
  color: white;
}

/* my slogan(could not think of anything better) */
#footer #footer-info h1 {
  color: white;
  padding-bottom: 20px;
  font-family: 'Oswald', sans-serif;
}

/* the links to all my social media */
#footer #footer-info #socialmedia {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

/* copyright law statement */
#footer #footer-copy {
  color: white;
  font-size: 0.8em;
}

/* Responsiveness for screens smaller than 500px */
@media (max-width: 500px) {
  #footer #footer-info h1 {
    color: white;
    font-size: 1.5rem;
    padding-bottom: 20px;
  }
  #footer #footer-copy{
    text-align: center;
  }
}

/* End Footer Section */

